<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for shopping at Jungle, <%= @user_email %></h1>
    <p>
      Your order id: <%= @order_id %>,
      Your username: <%= @user_email %><br>
    </p>
    <p>
      This is a confirmation that your order has been successfully processed
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>